@keyframes textappear {
    from {color: rgb(255, 255, 255);}
    to {color: rgb(0, 0, 0);}
}

body {
    margin: 100px auto;
    width: 60%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    display: flex;
    padding: 5px;
    list-style: none;
    font-weight: bold;
    background-color: #ffffff;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


nav ul li, footer ul li {
    display: inline;
    margin-right: 10px;
}
a {
    text-decoration: none;
    color: rgb(249, 168, 81);
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h2, h3, h4 {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

.musiclink {
    max-width: 600px;
    margin: 10px auto 0px auto;
    display: flex;
    text-align: center;
}

.spotify {
    flex: 1;
    margin: auto;
    text-align: center;
    position: relative;
    display: inline-block;
    max-width:44px;
    max-height:44px;
}
.spotify .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.spotify:hover .img-top {
    display: inline;
}




.soundcloud {
    flex: 1;
    max-width:44px;
    max-height:44px;
    margin: auto;
    text-align: center;
    position: relative;
    display: inline-block
}

.soundcloud .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.soundcloud:hover .img-top {
    display: inline;
}




.itunes {
    flex: 1;
    text-align: center;
    margin: auto;
    max-width:50px;
    max-height:30px;
    position: relative;
    display: inline-block
}

.itunes .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.itunes:hover .img-top {
    display: inline;
}



.applemusic {
    flex: 1;
    text-align: center;
    margin: auto;
    max-width:50px;
    height:30px;
    position: relative;
    display: inline-block
}
.applemusic .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.applemusic:hover .img-top {
    display: inline;
}






.facebook {
    flex: 1;
    text-align: center;
    margin: auto;
    max-width:44px;
    max-height:44px;
    position: relative;
    display: inline-block
}
.facebook .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.facebook:hover .img-top {
    display: inline;
}


p.nospacepar {
    line-height: 0px;
}


p {
    font-size: 1em;
    line-height: 1.4em;
    color: rgb(70, 70, 70);
    text-align:justify;
    animation-name: textappear;
    animation-duration: 2s;
    
}
footer {
    border-top: 0.5px solid #d5d5d5;
    font-size: .7em;
    color: rgb(227, 227, 227);
    text-align:center;
    
}


ul.posts { 
    margin: 20px auto 60px; 
    font-size: 1.5em;
    text-align:center;
}

ul.posts li {
    list-style: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }